<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#038db3">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=" text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">


</head>

<body>
    <div class="ui borderless menu">
        <div class="header item">
            John's Shop
        </div>
        <div class="item">
            <a class="item" href="./logout"><i class="sign-out alternate icon"></i>Logout</a>
        </div>
    </div>
    <div class="ui container">
        <h1 class="ui header">List of orders</h1>
        <div class="ui very relaxed list accordion">
            {{#each orders}}
            <div class="item title">
                <i class="shipping fast icon"></i>
                <div class="content">
                    <a class="header">{{this.date}}</a>
                    <div class="description">Deliver to: <a><b>{{this.customer.name}}</b></a> at
                        <a><b>{{this.customer.location}}</b></a>.
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui relaxed divided list">
                    {{#each snacks}}
                    <div class="item">
                        <i class="shopping cart middle aligned icon"></i>
                        <div class="content">
                            <a class="header">{{this.name}}</a>
                            <div class="description">
                                {{this.qty}} items at ${{this.price}}
                            </div>
                        </div>
                    </div>
                    {{/each}}

                </div>

            </div>
            {{/each}}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
    <script src="/scripts/script.js"></script>
</body>
</body>

</html>